<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
    <!--服务器配置-->
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>com.huawei.servlet.LoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <!--过滤器配置-->
    <filter>
        <filter-name>Afilter</filter-name>
        <filter-class>com.huawei.filter.Filter</filter-class>
        <init-param>
            <param-name>charset</param-name>
            <param-value>11111</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>Afilter</filter-name>
        <url-pattern>/index.jsp</url-pattern>
    </filter-mapping>

    <filter>
        <filter-name>encoding</filter-name>
        <filter-class>com.huawei.filter.EncodingFilter</filter-class>
        <init-param>
            <param-name>charset</param-name>
            <param-value>utf-8</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>encoding</filter-name>
        <url-pattern>/LoginServlet</url-pattern>
    </filter-mapping>

    <filter>
        <filter-name>coutFilter</filter-name>
        <filter-class>com.huawei.filter.coutFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>coutFilter</filter-name>
        <url-pattern>/index.jsp</url-pattern>
    </filter-mapping>
    <listener>
        <listener-class>com.huawei.listener.AListener</listener-class>
    </listener>
    <!--<error-page>-->
        <!--<error-code>404</error-code>-->
        <!--<location>/index.jsp</location>-->
    <!--</error-page>-->
    <!--<error-page>-->
        <!--<exception-type>java.lang.RuntimeException</exception-type>-->
        <!--<location>/index.jsp</location>-->
    <!--</error-page>-->
</web-app>