<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
    <filter>
        <filter-name>LoginFilter</filter-name>
        <filter-class>com.filter.LoginFilter</filter-class>
        <init-param>
            <param-name>charset</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>LoginFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>com.servlet.LoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>onlineListServlet</servlet-name>
        <servlet-class>com.servlet.onlineListServlet</servlet-class>
    </servlet>
   <servlet-mapping>
       <servlet-name>onlineListServlet</servlet-name>
       <url-pattern>/onlineListServlet</url-pattern>
   </servlet-mapping>
    <servlet>
        <servlet-name>adminListServlet</servlet-name>
        <servlet-class>com.servlet.adminListServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>adminListServlet</servlet-name>
        <url-pattern>/adminListServlet</url-pattern>
    </servlet-mapping>
     
    <servlet>
        <servlet-name>addAdminServlet</servlet-name>
        <servlet-class>com.servlet.addAdminServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>addAdminServlet</servlet-name>
        <url-pattern>/addAdminServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>deleteAdminServlet</servlet-name>
        <servlet-class>com.servlet.deleteAdminServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>deleteAdminServlet</servlet-name>
        <url-pattern>/deleteAdminServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>updateAdminServlet</servlet-name>
        <servlet-class>com.servlet.updateAdminServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>updateAdminServlet</servlet-name>
        <url-pattern>/updateAdminServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>studentListServlet</servlet-name>
        <servlet-class>com.servlet.studentListServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>studentListServlet</servlet-name>
        <url-pattern>/studentListServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>deleteStudentServlet</servlet-name>
        <servlet-class>com.servlet.deleteStudentServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>deleteStudentServlet</servlet-name>
        <url-pattern>/deleteStudentServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>updateStudentServlet</servlet-name>
        <servlet-class>com.servlet.updateStudentServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>updateStudentServlet</servlet-name>
        <url-pattern>/updateStudentServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>addStudentServlet</servlet-name>
        <servlet-class>com.servlet.addStudentServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>addStudentServlet</servlet-name>
        <url-pattern>/addStudentServlet</url-pattern>
    </servlet-mapping>
    <filter>
        <filter-name>LoginListener</filter-name>
        <filter-class>com.filter.LoginFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>LoginListener</filter-name>
        <url-pattern>/LoginListener</url-pattern>
    </filter-mapping>
</web-app>